<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.TypeDao" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.Type" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="typeNumber" property="typenumber" jdbcType="INTEGER" />
    <result column="typeDescn" property="typedescn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, typeNumber, typeDescn
  </sql>
  <sql id="typeParams" >
   <if test="id != null">
			AND Id = #{id}
		</if>
		<if test="typenumber != null and typenumber !=''">
			AND typeNumber = #{typenumber}
		</if>
		<if test="typedescn != null and typedescn !=''">
			AND typeDescn=#{typedescn}
		</if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type
    where Id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from type
  </select>
  <delete id="deleteByTypeNumber" parameterType="java.lang.Integer" >
    delete from type
    where typeNumber = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.Type" >
    insert into type (Id, typeNumber, typeDescn
      )
    values (#{id,jdbcType=INTEGER}, #{typenumber,jdbcType=INTEGER}, #{typedescn,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.Type" >
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="typenumber != null" >
        typeNumber,
      </if>
      <if test="typedescn != null" >
        typeDescn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typenumber != null" >
        #{typenumber,jdbcType=INTEGER},
      </if>
      <if test="typedescn != null" >
        #{typedescn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.Type" >
    update type
    <set >
      <if test="typenumber != null" >
        typeNumber = #{typenumber,jdbcType=INTEGER},
      </if>
      <if test="typedescn != null" >
        typeDescn = #{typedescn,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.Type" >
    update type
    set typeNumber = #{typenumber,jdbcType=INTEGER},
      typeDescn = #{typedescn,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getByParams" resultMap="BaseResultMap"  parameterType="java.util.Map">
		SELECT <include refid="Base_Column_List" /> FROM type
		WHERE 1=1 
		<include refid="typeParams" />
	</select>
</mapper>